h1{
    text-align: center;
    margin: 18px auto;
    padding: 40px;
}
.content{ 
    width: 80%;
    padding: 38px;
    border: 2px solid #FF0077;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chat{
   text-align: center;
}
i{
    font-size: 50px;
}
.start-chat{
    display: flex ;
}
.start-chat button{
    border: 0;
    background: none;
    position: relative;
}
.start-chat-label{
    background-color: rgb(255, 0, 119);
    box-shadow: 3px 4px 10px rgba(255, 0, 0, 0.825);
    border-radius: 10px;
    position: absolute;
    top: -38px;
    left: -38px;
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: opacity .8s ease;
}
.start-chat button:hover .start-chat-label{
    opacity: 1;
}




.chat-echange ul{
    list-style-type: none;
    /* overflow: auto;
    overflow-y: scroll;
    width: calc(100%-85px); */
}
.chat-echange ul .infos{
    display: flex;
    justify-content: start ;
    align-items: center; 
}

.chat-echange ul .chat-message{
    text-align: start;
    background-color: rgb(234, 249, 253);
    border-radius: 20px;
    margin: 20px auto;
}
.chat-echange ul .chat-message i{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}
.chat-echange ul span{
    font-weight: 900;
    font-size: 14px;
}
.chat-echange ul p{
    left: 100px;
    top: 50px;
    word-wrap: break-word;
    padding: 20px;
}



.event-message{
    background-color: rgba(255, 255, 185, 0.411);
    font-size: 20px;
    color: gray;
}


.send-div{
    display: flex;
    justify-content: center;
    align-items: center;
}